
<nav class="navbar is-fixed-top is-gray" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Categorias
                </a>

                <div class="categorias navbar-dropdown">
                    <div class="algica">
                        <span>ÁLGICA</span>
                    </div>
                    <div class="seri">
                        <span>SERI</span>
                    </div>
                    <div class="cochimi-yumana">
                        <span>COCHIMÍ-YUMANA</span>
                    </div>
                    <div class="oto-mangue">
                        <span>OTO-MANGUE</span>
                    </div>
                    <div class="maya">
                        <span>MAYA</span>
                    </div>
                    <div class="yuto-nahua">
                        <span>YUTO-NAHUA</span>
                    </div>
                    <div class="transition-metals">
                        <span>Transition Metals</span>
                    </div>
                    <div class="post-transition-metals">
                        <span>Post Transition Metals</span>
                    </div>
                    <div class="lanthanoids">
                        <span>Lanthanoids</span>
                    </div>
                    <div class="actinoids">
                        <span>Actinoids</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>