.bg-none {
    display: none;
}

.bg-red {
    background-color: #DD3430;
    color: #FFFFFF;
}

.bg-yellow {
    background-color: #FDE818;
    color: #515757;
}

.bg-orange {
    background-color: #F39519;
    color: #FFFFFF;
}

.bg-green-light {
    background-color: #68B32D;
    color: #FFFFFF;
}

.bg-green {
    background-color: #207331;
    color: #FFFFFF;
}

.green {
    color: #207331;
}

.green-light {
    color: #68B32D;
}

.orange {
    color: #F39519;
}

.yellow {
    color: #FDE818;
}

.red {
    color: #DD3430;
}

.gray {
    color: #515757;
}
/**FAMILIAS*/
.null, .null.no-focus:hover {
    display: block;
    background-color: #ffffff;
    color: #FFFFFF;
}

.algica, .algica.no-focus:hover {
    border-color: transparent;
    background-color: #ED8965;
    color: #FFFFFF;
}

.seri, .seri.no-focus:hover {
    border-color: transparent;
    background-color: #9E60A4;
    color: #FFFFFF;
}

.cochimi-yumana, .cochimi-yumana.no-focus:hover {
    border-color: transparent;
    background-color: #C61E26;
    color: #ffffff;
}

.oto-mangue, .oto-mangue.no-focus:hover {
    border-color: transparent;
    background-color: #799010;
    color: #ffffff;
}

.maya, .maya.no-focus:hover {
    border-color: transparent;
    background-color: #83B5C2;
    color: #ffffff;
}

.yuto-nahua, .yuto-nahua.no-focus:hover {
    border-color: transparent;
    background-color: #FAB700;
    color: #FFFFFF;
}

.huave, .huave.no-focus:hover {
    border-color: transparent;
    background-color: #1C8E86;
    color: #ffffff;
}

.mixe-zoque, .mixe-zoque.no-focus:hover {
    border-color: transparent;
    background-color: #E4617F;
    color: #ffffff;
}

.teko, .teko.no-focus:hover {
    border-color: transparent;
    background-color: #3ab863;
    color: #FFFFFF;
}

.totonaco-tepehua, .totonaco-tepehua.no-focus:hover {
    border-color: transparent;
    background-color: #9E602C;
    color: #FFFFFF;
}

.chontal-oaxaca, .chontal-oaxaca.no-focus:hover {
    border-color: transparent;
    background-color: #4D71B0;
    color: #FFFFFF;
}

.tarasca, .tarasca.no-focus:hover {
    border-color: transparent;
    background-color: #B42E88;
    color: #FFFFFF;
}

.zapoteco, .zapoteco.no-focus:hover {
    border-color: transparent;
    background-image: -webkit-linear-gradient(135deg, #51b54f 50%, #92d26b 50%);
    /*background-color: #51b54f;*/
    color: #ffffff;
}

.nahuas, .nahuas.no-focus:hover {
    border-color: transparent;
    /*background-color: #8cabde;*/
    background-image: -webkit-linear-gradient(135deg, #8cabde 50%, #64cab9 50%);
    color: #515757;
}
