@media (max-width: 1700px) {
    #seri {
        grid-column-start: 16;
    }

    #oto-mangue, #maya {
        grid-column-start: 11;
    }

    #cerium, #thorium {
        grid-column-start: 3;
    }

    #zapoteco {
        grid-column-start: 14;
    }

    #nahuas {
        grid-column-start: 3;
    }

    .atomic-mass {
        max-width: none;
        font-size: 9px;
    }

    .atomic-number {
        font-size: 9px;
    }

    .element-name {
        font-size: 8px;
    }

    .atomic-orbital-shells {
        /*display: none;*/
    }

}

@media (max-width: 1500px) {
    #seri {
        grid-column-start: 16;
    }

    #oto-mangue, #maya {
        grid-column-start: 11;
    }

    #cerium, #thorium {
        grid-column-start: 3;
    }

    #zapoteco {
        grid-column-start: 14;
    }

    #nahuas {
        grid-column-start: 3;
    }

    .atomic-mass {
        display: none;
    }

    .group {
        width: auto;
        /* min-height: 85px; */
    }

    .atomic-orbital-shells {
        display: none;
    }

    .categorias div {
        font-size: 0px;
        padding: 7px 20px;
        position: relative;
    }

    .characteristic {
        max-width: 420px;
        top: 20px;
    }

    .characteristic .non-metals {
        max-width: 125px;
        flex: 0 30%;
    }

    .characteristic .metals {
        flex: 0 60%;
        max-width: 252px;
    }

    .characteristic div span {
        font-size: 12px;
    }

    .endangered {
        font-size: 15px;
    }

    .endangered div[class*="threat"] [class*="fa"]:not(.fa-xs) {
        font-size: 30px;
    }

    .endangered div[class*="threat"] sup {
        left: 25px;
        top: -5px;
        font-size: 10px;
    }

}

@media (max-width: 1300px) {
    #seri {
        grid-column-start: 16;
    }

    #oto-mangue, #maya {
        grid-column-start: 11;
    }

    #cerium, #thorium {
        grid-column-start: 3;
    }

    #zapoteco {
        grid-column-start: 14;
    }

    #nahuas {
        grid-column-start: 3;
    }

    .atomic-number {
        font-size: 9px;
    }

    .element-name {
        font-size: 6px;
        padding-top: 6px;
    }

    .atomic-orbital-shells {
        font-size: 9px;
    }

    .group {
        min-height: inherit;
    }

    .element-symbol strong {
        font-weight: 100;
    }

    .element-symbol {
        font-size: 19px;
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        position: absolute;
        right: 10px;
        top: 25px;
    }

    div#lanthanide-series .group:nth-child(2), div#actinide-series .group:nth-child(2) {
        position: relative;
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        position: absolute;
        right: 10px;
        top: 25px;
    }

    div#lanthanide-series .group:nth-child(2):after, div#actinide-series .group:nth-child(2):after {
        font-size: 12px;
        top: auto;
        bottom: 20px;
        left: 0;
    }

}

@media (max-width: 1024px) {
    #seri {
        grid-column-start: 16;
    }

    #oto-mangue, #maya {
        grid-column-start: 11;
    }

    #cerium, #thorium {
        grid-column-start: 3;
    }

    #zapoteco {
        grid-column-start: 14;
    }

    #nahuas {
        grid-column-start: 3;
    }

    .categorias {
        display: flex;
        width: 100%;
    }

    .categorias > div {
        width: 20%;
    }

    .element-name {
        font-size: 5px;
        line-height: 1em;

    }

    .atomic-number {
        font-size: 6px;
        letter-spacing: 0.1em;
    }

    .atomic-mass {
        display: none;
    }

    .atomic-orbital-shells {
        display: none;
    }

    .element-symbol {
        padding-top: 4px;
        font-size: 12px;
    }

    .endangered {
        font-size: 12px;
    }

    .endangered div[class*="threat"] {
        flex-direction: column;
    }

    .endangered div[class*="threat"] span:first-of-type {
        margin-bottom: 10px;
    }

    .card .endangered div[class*="threat"] {
        flex-direction: row;
    }

    .card .endangered div[class*="threat"] span:first-of-type {
        margin-bottom: 0;
    }

}

@media (max-width: 980px) {
    #seri {
        grid-column-start: 16;
    }

    #oto-mangue, #maya {
        grid-column-start: 11;
    }

    #cerium, #thorium {
        grid-column-start: 3;
    }

    #zapoteco {
        grid-column-start: 14;
    }

    #nahuas {
        grid-column-start: 3;
    }

    element-name {
        font-size: 10px;
        line-height: 1em;

    }

    .categorias {
        font-size: 11px;
    }

    .element-symbol {
        text-align: center;
    }

    .element-symbol {
        font-size: 20px;
    }

    .element-symbol {
        font-size: 10px;
        padding-top: 9px;
        text-align: left;
    }

    .atomic-number {
        font-size: 6px;
    }

}

/*
/*
@media(max-width: 768px) {
    .categorias{
        font-size: 9px;
    }

    .atomic-number {
        font-size: 7px;
    }

    .element-name {
        font-size: 8px;
    }
    .group {
        padding: 5px;
    }
    .element-symbol {
        text-align: center;
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        top: 15px;
    }

    div#lanthanide-series .group:nth-child(2):after, div#actinide-series .group:nth-child(2):after {
        font-size: 15px;
        width: 100%;
        text-align: center;
        right: 0;
    }

    div#lanthanide-series .group:nth-child(2):after {
        content: "Ln";
    }

    div#actinide-series .group:nth-child(2):after {
        content: "An";
    }

    .characteristic div {
        padding: 3px 0px;
        height: 5px;
    }

    .characteristic div span {
        font-size: 12px;
        top: -5px;
    }

    .categorias .active:after {
        width: 10px;
        height: 10px;
    }

    footer > div span:nth-of-type(3) {
        font-size: 10px;
        margin: 5px 0;
    }

    footer > div span {
        display: block;
    }

    footer > div span.divider {
        display: none;
    }

    .card .element-name {
        font-size: 25px;
    }

    .endangered div[class*="threat"] {
        justify-content: flex-start;
        padding: 5px;
    }

    .endangered div[class*="threat"]:nth-child(2) {
        border-right: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
    }

    .card .endangered div[class*="threat"] {
        text-align: left;
    }

}

@media(max-width: 600px) {

    div#lanthanide-series .group:nth-child(2):after, div#actinide-series .group:nth-child(2):after {
        font-size: 12px;
        bottom: 5px;
    }
    .element-name {
        font-size: 6px;
    }
    .atomic-number {
        !*display: none;*!
    }



    .group .element-symbol {
        text-align: center;
        font-size: 12px;
    }

    #six .lanthanoids .atomic-number:before,#seven .actinoids .atomic-number:before {
        top: 3px;
        font-size: 15px;
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        top: 7px;
    }

    .categorias div {
        padding: 5px 15px;
    }

    .categorias .active:after {
        width: 7px;
        height: 7px;
        border: 2px solid white;
    }

    .characteristic {
        max-width: 320px;
        top: 15px;
    }

    .characteristic div span {
        padding: 0px 5px;
        font-size: 10px;
        top: -2px;
    }

    .characteristic div {
        height: 5px;
        padding: 0px;
    }

    .endangered {
        font-size: 10px;
    }

    .endangered div[class*="threat"] [class*="fa"]:not(.fa-xs) {
        font-size: 20px;
    }

    .endangered div[class*="threat"] sup {
        left: 18px;
        top: -3px;
        font-size: 8px;
    }

    .endangered:before {
        width: 130px;
    }

}

@media(max-width: 500px) {

    .atomic-mass {
        display: block;
        max-width: none;
        font-size: 11px;
    }

    .element-symbol strong {
        font-weight: 300;
        font-size: 20px;

    }

    .atomic-number {
        font-size: 12px;
    }

    .element-name {
        font-size: 11px;
    }

    .atomic-orbital-shells {
        display: block;

        font-size: 11px;
    }

    .periodic-table {
        display: inline-block !important;
    }

    .periodic-table > li{
        width: 25%;
        height: 90px;
    }

    div#lanthanide-series .group:nth-child(2):after, div#actinide-series .group:nth-child(2):after {
        !*display: none;*!
    }

    #six .lanthanoids .atomic-number:before, #seven .actinoids .atomic-number:before {
        top: 2px;
        font-size: 12px;
    }

    .group {
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        top: 8px;
        font-size: 12px;
    }

    #six .lanthanoids .atomic-number:before,#seven .actinoids .atomic-number:before {
        top: 3px;
        font-size: 15px;
    }

    .group:after {
        border-left: 5px solid transparent !important;
        border-right: 5px solid transparent !important;
        border-top-width: 8px !important;
        bottom: -8px !important;
    }

    .endangered {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 35px;
    }

    .endangered:before {
        width: 100%;
        text-align: left;
        top: 0;
        position: relative;
        margin-bottom: 15px;
        border-bottom: 2px solid #e2e2e2;
        padding-bottom: 10px;
    }

    .endangered:after {
        visibility: hidden;
        display: none;
    }

    .endangered div[class*="threat"] {
        flex-direction: row;
        flex-basis: 100%;
        flex: 1 1;
        align-items: baseline;
        padding: 10px 5px;
        width: 100%;
    }

    .endangered div[class*="threat"]:nth-child(2) {
        border: 0;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    .endangered div[class*="threat"]:hover, .endangered div[class*="threat"].active {
        border: 1px solid #e2e2e2;
    }

    .endangered div[class*="threat"] span:first-of-type {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .card .endangered div[class*="threat"] {
        align-items: center;
    }

}

@media(max-width: 400px) {

    .atomic-mass {
        display: block;
        max-width: none;
        font-size: 11px;
    }

    .element-symbol strong {
        font-weight: 300;
        font-size: 20px;

    }

    .atomic-number {
        font-size: 12px;
    }

    .element-name {
        font-size: 11px;
    }

    .atomic-orbital-shells {
        display: block;

        font-size: 11px;
    }

    .periodic-table {
        display: inline-block !important;
    }

    .periodic-table > li{
        width: 25%;
        height: 90px;
    }

    #six .lanthanoids .atomic-number:before, #seven .actinoids .atomic-number:before {
        font-size: 10px;
        top: 2px;
    }

    div#lanthanide-series .group:nth-child(2):before, div#actinide-series .group:nth-child(2):before {
        font-size: 10px;
    }

}



*/

/*.periodic-table > li:before {
    !*counter-increment: element;*!
    !*content: counter(element);*!
    position: absolute;
    bottom: 5px;
    !*left: 6px;*!
    font-size: .9vw;
    font-weight: lighter;
}*/
@media (max-width: 350px) {
    #seri {
        grid-column-start: 1;
    }

    #oto-mangue, #maya {
        grid-column-start: 1;
    }

    #cerium, #thorium {
        grid-column-start: 1;
    }

    #zapoteco {
        grid-column-start: 1;
    }

    #nahuas {
        grid-column-start: 1;
    }

    .periodic-table {
        /*max-height: 300px;*/
        grid-template-columns: repeat(4, 25%) !important;
        grid-template-rows: repeat(25, 100px) !important;

        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', serif;
    }

    .group {
        height: 90px;
    }

    .family-menu {
        font-family: 'Montserrat';
        font-stretch: expanded;
        font-size: 9px;
    }

    .family-menu td {
        padding: 2px;
    }

    .family-menu :hover {
        cursor: pointer;
    }

    .atomic-mass {
        display: block;
        max-width: none;
        font-size: 11px;
    }

    .element-symbol {
        font-weight: 300;
        font-size: 20px;
    }

    .atomic-number {
        font-size: 12px;
    }

    .element-name {
        font-size: 11px;
    }

    .atomic-orbital-shells {
        display: block;
        font-size: 11px;
    }

}

@media (max-width: 400px) {
    #seri {
        grid-column-start: 1;
    }

    #oto-mangue, #maya {
        grid-column-start: 1;
    }

    #cerium, #thorium {
        grid-column-start: 1;
    }

    #zapoteco {
        grid-column-start: 1;
    }

    #nahuas {
        grid-column-start: 1;
    }

    .periodic-table {
        /*max-height: 300px;*/
        grid-template-columns: repeat(4, 25%) !important;
        grid-template-rows: repeat(25, 100px) !important;

        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', serif;
    }

    .group {
        height: 90px;
    }

    .family-menu {
        font-family: 'Montserrat';
        font-stretch: expanded;
        font-size: 9px;
    }

    .family-menu td {
        padding: 2px;
    }

    .family-menu :hover {
        cursor: pointer;
    }

    .atomic-mass {
        display: block;
        max-width: none;
        font-size: 11px;
    }

    .element-symbol {
        font-weight: 300;
        font-size: 20px;
    }

    .atomic-number {
        font-size: 12px;
    }

    .element-name {
        font-size: 11px;
    }

    .atomic-orbital-shells {
        display: block;
        font-size: 11px;
    }

}
