/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .familias-menu {
        display: table;
        list-style: none;
        margin: 0 auto;
    }

    .familias-menu .subtitle{
        margin-bottom: 10px !important;
    }

    .familias-menu li{
        font-family: 'Montserrat', serif;
        display: inline;
        cursor: pointer;
        overflow: hidden;
    }

    .familias-menu li a{
        margin: 5px;
    }

    /*
    #Kp {
        grid-column: 1 / span 1;
    }

    #Cu {
        grid-column: 1 / span 1;
    }

    #Ay {
        grid-column-start: 14;
    }

    #Ps {
        grid-column-start: 13;
    }

    #Qe {
        grid-column-start: 12;
    }
    */

    .orden-menu .subtitle{
        margin-bottom: 10px !important;
    }

    .tabla-periodica{
        list-style: none;
        margin: 0 auto;
    }

    .tabla-periodica-grids {
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', serif;
    }

    .group {
        /*max-width: 107px;*/
        /*min-height: 103px;*/
        /*max-height: 103px;*/
        /*width: 105px;*/
        height: 4.6vw;
        padding: 5px;
        border-radius: 5px;
        overflow: hidden;
        margin: 3px;
        /*transition: box-shadow .1s;*/
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.1), inset 0 0 0 2px rgba(0,0,0,.1);
        /* transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
         -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
        z-index: auto;
        /*transition:all 1s;*/
        /*border: 1px solid #ccc;*/
    }

    .element-symbol {
        margin-top: -10px;
        font-size: 20px;
        text-align: left;
    }

    .atomic-number {
        font-size: 11px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10px;
    }

    .element-name, .atomic-mass {
        font-size: 12px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }

}

/*!* */
/*  ##Device = Laptops, Desktops*/
/*  ##Screen = B/w 1025px to 1280px*/
/**!*/

/*@media (min-width: 1025px) and (max-width: 1280px) {*/
/*    #Kp {*/
/*        grid-column: 1 / span 1*/
/*    }*/

/*    #Cu {*/
/*        grid-column: 1 / span 1;*/
/*    }*/

/*    #Ay {*/
/*        grid-column-start: 14;*/
/*    }*/

/*    #Ps {*/
/*        grid-column-start: 13;*/
/*    }*/

/*    #Qe {*/
/*        grid-column-start: 12;*/
/*    }*/

/*    .tabla-periodica-grids {*/
/*        max-width: 1500px;*/
/*        !*max-height: 300px;*!*/
/*        display: grid;*/
/*        grid-template-columns: repeat(16, 6.25%);*/
/*        grid-template-rows: repeat(4, 5vw);*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-family: 'Montserrat', serif;*/
/*    }*/
/*}*/

/*!* */
/*  ##Device = Tablets, Ipads (portrait)*/
/*  ##Screen = B/w 768px to 1024px*/
/**!*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/
/*    .tabla-periodica-grids {*/
/*        !*max-height: 300px;*!*/
/*        grid-template-columns: repeat(16, 60px) !important;*/
/*        grid-template-rows: repeat(5, 70px) !important;*/

/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-family: 'Montserrat', serif;*/
/*    }*/

/*    .group {*/
/*        height: 65px;*/
/*    }*/

/*    .atomic-mass {*/
/*        display: block;*/
/*        max-width: none;*/
/*        font-size: 11px;*/
/*    }*/

/*    .element-symbol {*/
/*        font-weight: 300;*/
/*        font-size: 14px;*/
/*    }*/

/*    .atomic-number {*/
/*        font-size: 9px;*/
/*    }*/

/*    .element-name {*/
/*        font-size: 11px;*/
/*    }*/
/*}*/

/*!* */
/*  ##Device = Tablets, Ipads (landscape)*/
/*  ##Screen = B/w 768px to 1024px*/
/**!*/

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/
/*    .tabla-periodica-grids {*/
/*        !*max-height: 300px;*!*/
/*        grid-template-columns: repeat(16, 60px) !important;*/
/*        grid-template-rows: repeat(5, 70px) !important;*/

/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-family: 'Montserrat', serif;*/
/*    }*/

/*    .group {*/
/*        height: 65px;*/
/*    }*/

/*    .atomic-mass {*/
/*        display: block;*/
/*        max-width: none;*/
/*        font-size: 11px;*/
/*    }*/

/*    .element-symbol {*/
/*        font-weight: 300;*/
/*        font-size: 18px;*/
/*    }*/

/*    .atomic-number {*/
/*        font-size: 9px;*/
/*    }*/

/*    .element-name {*/
/*        font-size: 11px;*/
/*    }*/

/*}*/

/*!* */
/*  ##Device = Low Resolution Tablets, Mobiles (Landscape)*/
/*  ##Screen = B/w 481px to 767px*/
/**!*/

/*@media (min-width: 481px) and (max-width: 767px) {*/
/*    .tabla-periodica-grids {*/
/*        !*max-height: 300px;*!*/
/*        grid-template-columns: repeat(16, 60px) !important;*/
/*        grid-template-rows: repeat(5, 70px) !important;*/

/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-family: 'Montserrat', serif;*/
/*    }*/

/*    .group {*/
/*        height: 65px;*/
/*    }*/

/*    .atomic-mass {*/
/*        display: block;*/
/*        max-width: none;*/
/*        font-size: 11px;*/
/*    }*/

/*    .element-symbol {*/
/*        font-weight: 300;*/
/*        font-size: 18px;*/
/*    }*/

/*    .atomic-number {*/
/*        font-size: 9px;*/
/*    }*/

/*    .element-name {*/
/*        font-size: 11px;*/
/*    }*/

/*}*/

/*!* */
/*  ##Device = Most of the Smartphones Mobiles (Portrait)*/
/*  ##Screen = B/w 320px to 479px*/
/**!*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
/*    .tabla-periodica-grids {*/
/*        !*max-height: 300px;*!*/
/*        grid-template-columns: repeat(4, 25%) !important;*/
/*        grid-template-rows: repeat(25, 100px) !important;*/

/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        font-family: 'Montserrat', serif;*/
/*    }*/

/*    .group {*/
/*        height: 65px;*/
/*    }*/

/*    .atomic-mass {*/
/*        display: block;*/
/*        max-width: none;*/
/*        font-size: 11px;*/
/*    }*/

/*    .element-symbol {*/
/*        font-weight: 300;*/
/*        font-size: 18px;*/
/*    }*/

/*    .atomic-number {*/
/*        font-size: 9px;*/
/*    }*/

/*    .element-name {*/
/*        font-size: 11px;*/
/*    }*/

/*}*/
