/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    #Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.6vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        margin-left: 35px;
        margin-right: 35px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 3% 94% 3%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        max-height: 70px;
        /*width: 105px;*/
        height: 4.6vw;
        padding: 5px;
        border-radius: 5px;
        overflow: hidden;
        margin: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
       transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -10px;
        font-size: 19px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 9px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin: -3px -4px 3px;
    }

    .message-body {
        padding: 30px;
    }
}

/*!* */
/*  ##Device = Laptops, Desktops*/
/*  ##Screen = B/w 1025px to 1280*/
/**!*/

@media (min-width: 1024px) and (max-width: 1280px) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu  label{
        font-size: .6rem;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    #Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.2vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 3% 94% 3%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        max-height: 70px;
        /*width: 105px;*/
        height: 4.6vw;
        padding: 3px;
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
        transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -10px;
        font-size: 17px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 7px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 7px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 7px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin: -3px -4px 3px;
    }

    .message-body {
        padding: 30px;
    }
}


/*!* */
/*  ##Device = Tablets, Ipads (portrait)*/
/*  ##Screen = B/w 768px to 1024px*/
/**!*/

@media (min-width: 768px) and (max-width: 1023px) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu  label{
        font-size: .6rem;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    #Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.2vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        display: none;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .content-tab-symbols label{
        font-size: 9px;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        max-height: 70px;
        /*width: 105px;*/
        height: 4.6vw;
        padding: 3px;
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
        transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -5px;
        font-size: 17px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 7px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 0px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 7px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .population span {
        display: none;
    }

    .message-body {
        padding: 30px;
    }
}

/*!* */
/*  ##Device = Tablets, Ipads (landscape)*/
/*  ##Screen = B/w 768px to 1024px*/
/**!*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu  label{
        font-size: .6rem;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    #Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.2vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        display: none;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .content-tab-symbols label{
        font-size: 9px;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        max-height: 70px;
        /*width: 105px;*/
        height: 4.6vw;
        padding: 3px;
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
        transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -5px;
        font-size: 17px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 7px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 0px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 7px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .population span {
        display: none;
    }

    .message-body {
        padding: 30px;
    }
}

/*!* */
/*  ##Device = Low Resolution Tablets, Mobiles (Landscape)*/
/*  ##Screen = B/w 481px to 767px*/
/**!*/

@media (min-width: 320px) and (max-width: 480px) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu  label{
        font-size: .6rem;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    /*#Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }*/

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.2vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        display: none;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .content-tab-symbols label{
        font-size: 9px;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(6, 16.6%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        /*width: 105px;*/
        height: 11vw;
        padding: 3px;
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
        transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -10px;
        font-size: 19px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 9px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin: -3px -4px 3px;
    }

    .message-body {
        padding: 30px;
    }
}


/*!* */
/*  ##Device = Most of the Smartphones Mobiles (Portrait)*/
/*  ##Screen = B/w 320 to 479px*/
/**!*/

@media (min-width: 320px) and (max-width: 480px) {
    .family-menu {
        /*
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        */
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .family-menu  label{
        font-size: .6rem;
    }

    .family-menu .family-menu-options {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }

    .family-menu .family-menu-card {
        display: flex;
        margin-top: 0;
    }

    .family-menu table {
        background: none;
        display: table;
        list-style: none;
        position: absolute;
        font-size: 12px;
    }

    .family-menu .card {
        position: absolute;
    }

    .family-menu tbody tr {
        /*display: flex;
        justify-content: space-between;*/
    }

    .family-menu tbody tr td {
        border: none;
        cursor: pointer;
    }

    .family-menu tbody tr td b {
        padding-left: 5px;
    }

    .checkbox-option {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 22px;
    }

    .field:not(:last-child) {
        margin-bottom: 0;
    }

    /*#Kp.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Cu.periodic-table-family{
        grid-column: 1 / span 1;
    }

    #Ay.periodic-table-family{
        grid-column-start: 14;
    }

    #PoS.periodic-table-family {
        grid-column-start: 13;
    }

    #Qe.periodic-table-family {
        grid-column-start: 12;
    }*/

    #My.periodic-table-population, #Tp.periodic-table-population, #Ya.periodic-table-population, #Ak.periodic-table-population, #It.periodic-table-population {
        grid-column-start: 1;
    }

    #Ts.periodic-table-migration, #Hv.periodic-table-migration, #My.periodic-table-migration, #Kq.periodic-table-migration, #Aw.periodic-table-migration {
        grid-column-start: 1;
    }

    #Ix.periodic-table-rural, #Ci.periodic-table-rural, #Ta.periodic-table-rural, #Mi.periodic-table-rural, #It.periodic-table-rural {
        grid-column-start: 1;
    }

    #ThS.periodic-table-ire, #Hu.periodic-table-ire, #ChT.periodic-table-ire {
        grid-column-start: 1;
    }

    #Aw.periodic-table-variantes, #Ta.periodic-table-variantes, #Mo.periodic-table-variantes, #Ot.periodic-table-variantes , #Tp.periodic-table-variantes  {
        grid-column-start: 1;
    }

    .orden-menu .subtitle {
        margin-bottom: 10px !important;
    }

    .vertical-grids {
        display: grid;
    }

    .vertical-grids li {
        max-height: 70px;
        padding: 10px 0;
        height: 4.2vw;
        overflow: hidden;
        margin: 4px;
        z-index: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-grids {
        display: none;
    }

    .horizontal-grids > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-a li {
        float: left;
        width: 6.25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-b li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-c li {
        float: left;
        width: 7.1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-list-groups {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list-groups li {
        float: left;
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .periodic-table-symbols{
        padding-top: 0;
    }

    .periodic-table {
        list-style: none;
        margin: 0 auto;
    }

    .tabs{
        margin-bottom: 10px;
    }

    .content-tab{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .content-tab-symbols {
        display: flex;
        justify-content: center;
    }

    .content-tab-symbols > table > tbody > tr >td {
        cursor: pointer;
    }

    .content-tab-symbols label{
        font-size: 9px;
    }

    .periodic-table-columns {
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: auto;
    }

    .periodic-table-columns-div {
        align-self: flex-end;
    }

    .periodic-table-population-grids, .periodic-table-migration-grids, .periodic-table-rural-grids, .periodic-table-ire-grids, .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .periodic-table-alphabet-grids{
        display: grid;
        grid-template-columns: repeat(14, 7.1%);
        justify-content: center;
    }

    .periodic-table-variantes-grids {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        justify-content: center;
    }

    .periodic-table-variantes-grids-b {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
    }

    .periodic-table-family-grids {
        display: grid;
        grid-template-columns: repeat(6, 16.6%);
    }

    .column-one {
        padding-right: 0;
    }

    .column-two, .column-three, .column-four {
        padding-right: 0;
        padding-left: 0;
    }

    .column-five {
        padding-left: 0;
    }

    .is-small-button{
        font-size: 9px;
    }

    .group {
        max-width: 115px;
        /*min-height: 103px;*/
        /*width: 105px;*/
        height: 11vw;
        padding: 3px;
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(0, 0, 0, .1);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        z-index: auto;
        cursor: pointer;
    }

    .group:after {
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
    }

    .group:hover {
        transform: scale(1.5, 1.5);
    }

    .element-symbol {
        margin-top: -10px;
        font-size: 19px;
        text-align: left;
    }

    .element-symbol > b{
    }

    .number-id {
        font-size: 9px;
        text-align: right;
    }

    .atomic-orbital-shells {
        float: right;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex: 0;
        position: absolute;
        right: 5px;
    }

    .atomic-orbital-shells span {
        display: block;
        text-align: right;
        line-height: 10;
    }

    .element-name{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: -5px;
    }
    .population{
        font-size: 9px;
        flex: 1 1;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        margin: -3px -4px 3px;
    }

    .message-body {
        padding: 30px;
    }
}
