<!--
<div class="columns is-mobile">
    <div class="column ">
        <h1 class="title is-size-4-mobile">LENGUAS INDÍGENAS DE MÉXICO</h1>
    </div>

    <div class="column" style="display: flex; justify-content: flex-end">
        <figure class="image is-96x96">
            <img src="./assets/img/inpi.jpg">
        </figure>
    </div>

</div>
-->

<div class="columns">
    <div class="column is-four-fifths familias-menu">
        <p class="subtitle">Familias</p>
        <ul>
            <li id="familia-algica" (click)="onSelectFamilia('algica')">
                <a class="button is-small algica" >ÁLGICA</a>
            </li>
            <li id="familia-chontal-oaxaca" (click)="onSelectFamilia('chontal-oaxaca')">
                <a class="button is-small chontal-oaxaca">CHONTAL DE OAXACA</a>
            </li>
            <li id="familia-cochimi-yumana" (click)="onSelectFamilia('cochimi-yumana')">
                <a class="button is-small cochimi-yumana">COCHIMÍ-YUMANA</a>
            </li>
            <li id="familia-huave" (click)="onSelectFamilia('huave')">
                <a class="button is-small huave">HUAVE</a>
            </li>
            <li id="familia-maya" (click)="onSelectFamilia('maya')">
                <a class="button is-small maya">MAYA</a>
            </li>
            <li id="familia-mixe-zoque" (click)="onSelectFamilia('mixe-zoque')">
                <a class="button is-small mixe-zoque">MIXE-ZOQUE</a>
            </li>
            <li id="familia-oto-mangue" (click)="onSelectFamilia('oto-mangue')">
                <a class="button is-small oto-mangue">OTO-MANGUE</a>
            </li>
            <li id="familia-seri" (click)="onSelectFamilia('seri')">
                <a class="button is-small seri">SERI</a>
            </li>
            <li id="familia-tarasca" (click)="onSelectFamilia('tarasca')">
                <a class="button is-small tarasca">TARASCA</a>
            </li>
            <li id="familia-totonaco-tepehua" (click)="onSelectFamilia('totonaco-tepehua')">
                <a class="button is-small totonaco-tepehua">TOTONACO-TEPEHUA</a>
            </li>
            <li id="familia-yuto-nahua" (click)="onSelectFamilia('yuto-nahua')">
                <a class="button is-small yuto-nahua ">YUTO-NAHUA</a>
            </li>
        </ul>
    </div>
    <div class="column orden-menu">
        <p class="subtitle">Ordenar</p>
        <div class="select">
            <select (change)="filterChanged($event.target.value)">
                <option *ngFor="let type of filterTypes" [value]="type.value">{{type.display}}</option>
            </select>
        </div>
    </div>
</div>
<div class="tabla-periodica">
    <ol *ngIf="lenguas" class="tabla-periodica-grids">
        <li *ngFor="let lengua of lenguas" id="{{lengua[CVE_LEN]}}" (click)="onViewLengua(lengua)" class="group {{lengua[CLASE_HTML]}} tabla-periodica">
            <b class="numero-id">
                {{lengua[ID]}}
            </b>
            <b class="numero-poblacion">
                {{lengua[POBLACION]}}
            </b>
            <p class="element-symbol">
                <b>{{lengua[CVE_LEN]}}</b>
            </p>
            <p class="element-name">
                {{lengua[LENGUA]}}
            </p>
        </li>
    </ol>
</div>

<!--
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 90%;">
        <p class="image">
            <img src="./assets/img/infografias-horizontal/{{nombre}}.jpg" alt="{{nombre}}">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onCloseLengua()"></button>
</div>
-->
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 90%;">
        <header class="modal-card-head {{familia}}">
            <p class="modal-card-title {{familia}}">{{nombre}} ({{simbolo}})</p>
            <button class="delete close" aria-label="close" (click)="onCloseLengua()"></button>
        </header>
        <section class="modal-card-body" style="padding:0">
            <img src="./assets/img/infografias-horizontal/{{nombre}}.jpg" alt="{{nombre}}">
        </section>
        <!--
         <footer class="modal-card-foot">
          <button class="button is-link" (click)="facebookSharing(shareObj)">Compartir</button>
        </footer>
         -->
    </div>
</div>
