@import url("./media-queries.css");

.periodic-table {
    max-width: 1500px;
    /*max-height: 300px;*/
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(4, 5vw);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', serif;
}


.bd-color {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

.group {
    /*max-width: 107px;*/
    /*min-height: 103px;*/
    /*max-height: 103px;*/
    /*width: 105px;*/
    height: 4.6vw;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
    /*transition: box-shadow .1s;*/
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1), inset 0 0 0 2px rgba(0,0,0,.1);
   /* transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);*/
    z-index: auto;
    /*transition:all 1s;*/
    /*border: 1px solid #ccc;*/
}

.group-select {
    /*max-width: 107px;*/
    /*min-height: 103px;*/
    /*max-height: 103px;*/
    /*width: 105px;*/
    height: 4.6vw;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
    /*transition: box-shadow .1s;*/
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;

    /*transition:all 1s;*/
    /*border: 1px solid #ccc;*/
}

.hide {
    background-color: #CCCCCC !important;
    color: #969696 !important;
    pointer-events: none !important;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.1), inset 0 0 0 0px rgba(0,0,0,.1) !important;
    background-image: -webkit-linear-gradient(135deg,  #CCCCCC 50%, #CCCCCC 50%) !important;
}

.hide:hover {
    transform: scale(1) !important;
}

.hide-mobile {
    display: none;
}

.group:after {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.group-up-right-effect {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:15vw;
    margin-top: -10.2vw;
    width:295%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.group-down-right-effect {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:15vw;
    width:295%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.group-up-left-effect {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:15vw;
    margin-top: -10.2vw;
    margin-left: -12.2vw;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.group-down-left-effect {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height:15vw;
    margin-left: -12.2vw;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.group:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer;
}

/*.modal-content {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}*/

.group:hover::after {
    opacity: 1;
    /*border-top: 100px solid transparent !important;
    bottom: 100px !important;*/
}

.noHover{
    pointer-events: auto;
    z-index: 10;
    position: static;
}

.noHover:hover {
    transform: none;
    cursor: auto;
}

.focus-group {
    transform: scale(1.1, 1.1);
    z-index: 9;
    position: relative;
}

.group.no-focus:hover {
    color: black !important;
}

.group.no-focus.focus-group:after {
    border-top-color: #e0e0e0;
}

.group:first-of-type {
    transform-origin: left;
}

.group:last-of-type {
    transform-origin: right;
}

.periodo:first-of-type .group:last-of-type {
    transform-origin: right top;
}

.periodo:first-of-type .group:first-of-type {
    transform-origin: left top;
}

.group.empty {
    border-color: transparent;
    pointer-events: none;
}

.group.empty:hover {
    transform: scale(1);
    z-index: 1;
    box-shadow: none;
}

.group-info-basic {
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

.focus {
    transform: scale(1.1, 1.1);
    z-index: 9;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px 5px inset !important;
}

div.no-focus, div.no-focus .group {
    background: #e0e0e0;
    color: darkgray;
}

li.no-focus, li.no-focus .group {
    background: #e0e0e0;
    color: darkgray;
}

.no-focus .atomic-number:before {
    color: darkgray !important;
}


/**FAMILIAS*/
.null, .null.no-focus:hover {
    display: block;
    background-color: #ffffff;
    color: #FFFFFF;
}

.algica, .algica.no-focus:hover {
    background-color: #ef7659;
    color: #FFFFFF;
}

.seri, .seri.no-focus:hover {
    background-color: #9350ae;
    color: #FFFFFF;
}

.cochimi-yumana, .cochimi-yumana.no-focus:hover {
    background-color: #c92031;
    color: #ffffff;
}

.oto-mangue, .oto-mangue.no-focus:hover {
    background-color: #92d26b;
    color: #ffffff;
}

.maya, .maya.no-focus:hover {
    background-color: #f8ca35;
    color: #7a7d7f;
}

.yuto-nahua, .yuto-nahua.no-focus:hover {
    background-color: #64cab9;
    color: #FFFFFF;
}

.huave, .huave.no-focus:hover {
    background-color: #389386;
    color: #bdbfbd;
}

.mixe-zoque, .mixe-zoque.no-focus:hover {
    background-color: #e6457f;
    color: #ffffff;
}

.teko, .teko.no-focus:hover {
    background-color: #3ab863;
    color: #FFFFFF;
}

.totonaco-tepehua, .totonaco-tepehua.no-focus:hover {
    background-color: #915128;
    color: #FFFFFF;
}

.chontal-oaxaca, .chontal-oaxaca.no-focus:hover {
    background-color: #ae1e94;
    color: #FFFFFF;
}

.tarasca, .tarasca.no-focus:hover {
    background-color: #4c6eb5;
    color: #FFFFFF;
}

.zapoteco, .zapoteco.no-focus:hover {
    background-image: -webkit-linear-gradient(135deg,  #51b54f 50%, #92d26b 50%) ;
    /*background-color: #51b54f;*/
    color: #ffffff;
}

.nahuas, .nahuas.no-focus:hover {
    /*background-color: #8cabde;*/
    background-image: -webkit-linear-gradient(135deg,  #8cabde 50%, #64cab9 50%) ;
    color: #515757;
}

.element-symbol {
    margin-top: -10px;
    font-size: 20px;
    text-align: left;
}

.atomic-number {
    font-size: 11px;
    text-align: right;
}

.atomic-orbital-shells {
    float: right;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    flex: 0;
    position: absolute;
    right: 5px;
}

.atomic-orbital-shells span {
    display: block;
    text-align: right;
    line-height: 10px;
}

.element-name, .atomic-mass {
    font-size: 10px;
    flex: 1 1;
    align-items: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-top: -5px;
}

.tabla-periodica{
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 10px;
}
