@import url("./media-queries.css");
@import url("./colors.css");

.bd-color {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .1);
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

.hide {
    background-color: #CCCCCC !important;
    color: #969696 !important;
    pointer-events: none !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .1), inset 0 0 0 0px rgba(0, 0, 0, .1) !important;
    background-image: -webkit-linear-gradient(135deg, #CCCCCC 50%, #CCCCCC 50%) !important;
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hide:hover {
    transform: scale(1) !important;
}

.hide-mobile {
    display: none;
}


.tabs.is-toggle li.is-active a {
    background-color: #a22244;
    border-color: #a22244;
    color: #fff;
}

.tabs li.is-active a {
    border-bottom-color: #a22244;
    color: #a22244;
}
