<!--
<div class="columns is-mobile">
    <div class="column ">
        <h1 class="title is-size-4-mobile">LENGUAS INDÍGENAS DE MÉXICO</h1>
    </div>

    <div class="column" style="display: flex; justify-content: flex-end">
        <figure class="image is-96x96">
            <img src="./assets/img/inpi.jpg">
        </figure>
    </div>

</div>
-->


<div class="familias-menu">
    <p class="title">Familias</p>
    <ul>
        <li>
            <a class="button is-rounded is-small algica" id="familia-algica" (click)="onSelectFamilia('algica')" >ÁLGICA</a>
        </li>
        <li class="" id="familia-cochimi-yumana" (click)="onSelectFamilia('cochimi-yumana')">
            <a class="button is-rounded is-small chontal-oaxaca">CHONTAL DE OAXACA</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small cochimi-yumana">COCHIMÍ-YUMANA</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small huave">HUAVE</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small maya">MAYA</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small mixe-zoque">MIXE-ZOQUE</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small oto-mangue">OTO-MANGUE</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small seri">SERI</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small tarasca">TARASCA</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small totonaco-tepehua">TOTONACO-TEPEHUA</a>
        </li>
        <li class="">
            <a class="button is-rounded is-small yuto-nahua">YUTO-NAHUA</a>
        </li>
    </ul>
</div>
<div class="tabla-periodica">
    <ol *ngIf="lenguas" class="tabla-periodica-grids">
        <li *ngFor="let lengua of lenguas" id="{{lengua[2]}}" (click)="onViewLengua(lengua)" class="group {{lengua[19]}}">
            <p class="atomic-number">
                {{lengua[0]}}
            </p>
            <p class="element-symbol">
                <b>{{lengua[2]}}</b>
            </p>
            <p class="element-name">
                {{lengua[1]}}
            </p>
        </li>
    </ol>
</div>

<!--
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 90%;">
        <p class="image">
            <img src="./assets/img/infografias-horizontal/{{nombre}}.jpg" alt="{{nombre}}">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="onCloseLengua()"></button>
</div>
-->
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 90%;">
        <header class="modal-card-head {{familia}}">
            <p class="modal-card-title {{familia}}">{{nombre}} ({{simbolo}})</p>
            <button class="delete close" aria-label="close" (click)="onCloseLengua()"></button>
        </header>
        <section class="modal-card-body" style="padding:0">
            <img src="./assets/img/infografias-horizontal/{{nombre}}.jpg" alt="{{nombre}}">
        </section>
        <!--
         <footer class="modal-card-foot">
          <button class="button is-link" (click)="facebookSharing(shareObj)">Compartir</button>
        </footer>
         -->
    </div>
</div>
