<section class="is-info is-fullheight">
    <div class="hero-head">
        <!--<app-navbar></app-navbar>-->
        <div class="container">
            <h1 class="title">
                LENGUAS INDÍGENAS DE MÉXICO
            </h1>
        </div>
    </div>
    <div class="hero-body">
        <app-tabla-lenguas-indigenas></app-tabla-lenguas-indigenas>
    </div>
    <div class="is-divider"></div>
   
        <!--
        <div class="categorias">
            <div class="other-nonmetals">
                <span>Other Nonmetals</span>
            </div>
            <div class="noble-gases">
                <span>Noble Gases</span>
            </div>
            <div class="halogens">
                <span>Halogens</span>
            </div>
            <div class="metalloids">
                <span>Metalloids</span>
            </div>
            <div class="alkaline-earth-metals">
                <span>Alkaline Earth Metals</span>
            </div>
            <div class="alkali-metals">
                <span>Alkali Metals</span>
            </div>
            <div class="transition-metals">
                <span>Transition Metals</span>
            </div>
            <div class="post-transition-metals">
                <span>Post Transition Metals</span>
            </div>
            <div class="lanthanoids">
                <span>Lanthanoids</span>
            </div>
            <div class="actinoids">
                <span>Actinoids</span>
            </div>
        </div>
        -->
        <!--
        <div class="characteristic">
            <div class="non-metals">
                <span>Nonmetals</span>
            </div>
            <div class="metals">
                <span>Metals</span>
            </div>
        </div>
        -->
        <!--<div class="endangered">
            <div class="threat-limited">
                <span><i class="fas fa-exclamation-triangle"></i><sup><i class="fas fa-circle fa-xs"></i></sup></span> <span>Limited Availability - Future risk to supply</span>
            </div>
            <div class="threat-rising">
                <span><i class="fas fa-exclamation-triangle"></i><sup><i class="fas fa-circle fa-xs"></i><i class="fas fa-circle fa-xs"></i></sup></span> <span>Rising Threat - from increased use</span>
            </div>
            <div class="threat-serious">
                <span><i class="fas fa-exclamation-triangle"></i><sup><i class="fas fa-circle fa-xs"></i><i class="fas fa-circle fa-xs"></i><i class="fas fa-circle fa-xs"></i></sup></span> <span>Serious Threat - in the next 100 years</span>
            </div>
        </div>-->
</section>
